@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans|Noto+Serif');

html, body
{
  padding: 0px;
  margin: 0px;
  font-family: 'Noto Serif', serif;
  font-size: 12px;
}

#drawing
{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

#controls
{
  position: fixed;
  top: 76px;
  right: 51px;
  background: hsla(0, 0%, 100%, 0.8);
  display: grid;
  grid-gap: 0px;
  padding: 10px;
  font-family: 'Fira Mono', monospace;
  font-size: 12px;
}

#controls input
{
  grid-column: 2;
  width: 50px;
  border: none;
  background: none;
  font: inherit;
  transition: border-bottom-color 0.25s;
}

#controls .label, #controls input
{
  margin: 5px;
}

#controls .background, #controls .label
{
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

#controls .background
{
  transition: background 0.25s;
  border-radius: 2px;
}

#controls .background.error
{
  background: hsla(0, 100%, 50%, 0.5);
}

#controls .background.selected
{
  background: hsla(210, 100%, 50%, 0.8);
}

#controls input:focus
{
  outline: none;
  border-bottom-color: hsla(210, 100%, 50%, 0.8);
}

/* see https://stackoverflow.com/a/27935448 */
#controls input[type="number"]::-webkit-outer-spin-button,
#controls input[type="number"]::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

/* see https://stackoverflow.com/a/23374725 */
#controls input[type="number"]
{
  -moz-appearance: textfield;
}

#controls .label
{
  user-select: none;
}

#footer
{
  position: fixed;
  bottom: 5px;
  right: 5px;
  left: 5px;
  text-align: right;
  color: #888;
  user-select: none;
  cursor: default;
}

#footer a, #footer a:visited, #footer a:hover
{
  color: inherit;
}

#title
{
  position: fixed;
  top: 15px;
  left: 0px;
  right: 0px;
  text-align: center;
  font-size: 32px;
  user-select: none;
  cursor: default;
}

#optimal
{
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

#optimal.not
{
  text-decoration: line-through;
}

body
{
  touch-action: none;
}

@media print
{
  #footer
  {
    display: none;
  }

  #drawing
  {
    position: static;
    top: initial;
    bottom: initial;
    left: initial;
    right: initial;
    width: 12cm;
    height: 10cm;
  }
}

/* vim: sts=2:sw=2:et
 */
